{% extends 'base.html.twig' %}

{% block content %}
    <h1>Upcoming Concerts</h1>

    <ul>
        {% for concert in concerts.concerts %}
            <li><a href="{{ path('concert_detail', {'id': concert.id}) }}">{{ concert.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
